.our-features {
    padding-bottom: 0;
}

/* ----- Our features section ------ */

.our-features-list {
    gap: 30px;
}

.our-features-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* gap: 30px; */
    width: 270px;
    height: 248px;
}

/* .our-features-item:not(:last-child) {
    margin-right: 30px;
} */

.our-features-item::before {
    content: '';
    /* width: 270px; */
    height: 120px;
    border-radius: 4px;
    background-color: var(--light_color);
    background-repeat: no-repeat;
    margin-bottom: 30px;
    /* outline: 1px solid red; */
}

.our-features-item:nth-child(1)::before {
    background-image: url(../images/antenna.svg);
    background-position: center;
}

.our-features-item:nth-child(2)::before {
    background-image: url(../images/clock.svg);
    background-position: center;
}

.our-features-item:nth-child(3)::before {
    background-image: url(../images/diagram.svg);
    background-position: center;
}

.our-features-item:nth-child(4)::before {
    background-image: url(../images/astronaut.svg);
    background-position: center;
}

.our-features-title {
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
}

.margin-bottom {
    margin-bottom: 20px;
}

.our-features-description {
    flex-grow: 1;
    font-weight: 400;
    line-height: 1.71;
    color: var(--third_dark_color);
    /* outline: 1px dotted blue; */
}
